---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Offers from '../components/Offers.astro';
import Testimonials from '../components/Testimonials.astro';
import HeroFooter from '../components/HeroFooter.astro';
---

<Layout title="Genzu Design Studio">
	<main>
		<!-- Add Call To action, company Name and Button text2 -->
	<Hero callToAction='Be Your Best', buttonText='Design Today' companyName='Genzu Studio'/>
	<About linkText="/https://www.instagram.com/genstudio16/?hl=id" imageOne='pexels-david-bartus-43782-963278.jpg', imageTwo='pexels-leofallflat-1089194.jpg' />
	<Offers />
	<Testimonials />
	<HeroFooter callToAction='Get your Design Today' />
	</main>
</Layout>

